body, html {
    height: 100%;
}

a:link {text-decoration: none;color: #00FF00;}
a:visited {text-decoration: none;color: #00FF00;}
a:hover {text-decoration: underline;color: #00FF00;}
a:active {text-decoration: underline;color: #00FF00;}

.bg { 
    /* The image used */
    background-image: url("/images/blue-map-wallpaper-6542-6820-hd-wallpapers.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
